@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    margin-bottom: 50px;
}

.jumbotron {
    background-color: #e9ecef;
    border-radius: 10px;
}

.container {
    max-width: 800px;
}
.itinerary-planner {
    background-color: rgba(255, 255, 255, 0.8);  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.itinerary-planner h3 {
    text-align: center;
    margin-bottom: 20px;
}
.footer {
    background-color: #343a40;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer h5 {
    margin-top: 0;
    margin-bottom: 15px;
}

.travel-image {
    background-image: url('full.avif');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;  
    height: 100%; 
}

.container h2, .container h3 {
    margin-bottom: 20px;
}

.container img {
    max-width: 100%;
    border-radius: 5px;
}

.container .row div {
    text-align: center;
}

html, body {
    height: 100%;
}


.content-wrapper {
    min-height: calc(100% - 60px); 
    display: flex;
    flex-direction: column;
}


footer {
    height: 200px; 
    background-color: #f5f5f5; 
}

.feature-box {
    margin-bottom: 30px;
    text-align: center;
    transition: transform 0.3s;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.feature-box img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.feature-box:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.photo {
    width: 200px; 
    height: 200px; 
    object-fit: cover; /
  }
